$primary-color: white;
$secondary-color: black;
$tertiary-color: yellow;

$linen-background: image-url('bg-low_contrast_linen.png');
$dark-tire: image-url('bg-dark_Tire.png');
/*$quaternary-color: ;
$quinary-color: ;
$senary-color: ;
$septenary-color: ;*/

.modal {
  overflow-y: auto;
}


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-image: image-url("bg-new_year_background.png");
  background-repeat: repeat;
}

div.body-container { background-color: #F5F5F5; }

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/assets/glyphicons-halflings-regular.eot');
  src: url('/assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  url('/assets/glyphicons-halflings-regular.woff') format('woff'),
  url('/assets/glyphicons-halflings-regular.ttf') format('truetype'),
  url('/assets/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

/*'Poiret One'*/
h1 { font-family: 'Poiret One'; }

h2, h3, h4, h5, h6, th, td, span.theater-name, span.theater-tab, li, a, div.panel-heading {
  font-family: 'Poiret One', courier !important;
  font-weight: 800;
}
p, div, span.showtime {
  font-family: 'Futura', courier !important;
}

input {
  font-family: 'Poiret One';
}

.body-container { background-color: white; }

/*set html font-size at 62.5 to make sizing with rems similar to pixels*/
html { font-size: 62.5%; }

a:hover { text-decoration: none !important; }
a:active { text-decoration: none !important; }

a:focus {outline:0;}
button:focus { outline:0 !important; }
input:focus { outline:0 !important;}




/* browser scrollbar */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
    -webkit-border-radius: 1px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  height: 50px;
  background: $secondary-color;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255,0,0,0.4);
}