.navbar-nav { -webkit-backface-visibility: hidden; }

nav#main-nav {
  z-index: 16001;
  background-image: image-url('backgrounds/dark_Tire.png');
  margin-bottom: 0px;
  border: 0;
  position: fixed;
  width: 100%;
  border-radius: 0;

  padding-right: 30px;

  .navbar-brand {
    color: $primary-color;
  }

  ul.navbar-nav a {
    color: $primary-color;
    line-height: 50px;
    padding: 0 20px 0 0;

  }
  ul.navbar-nav a:hover {
    color: $tertiary-color;
  }

}

@media screen and (max-width: 768px){
  ul.navbar-nav {
    margin: 0;
  }
}