#theater-nav-container {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 20px;
}

div.user-cal-container { padding: 0;}
div.theater-tab-box-container { padding: 0 5px 0 15px; }

#nav-2 {
  min-height: 0;
  margin-bottom: 0;
  border: 0;
}

.theater-tab-box {
  background: transparent;
  border-radius: 4px;
  a { background-color: $primary-color; }
}

.affix-top {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
@media screen and (min-width: 769px) {
  .affix-top { padding: 0 10% 0 10%; }
}


.affix {
  padding: 0;
  z-index: 16002;
  top: 49px;
  border-top: 2px solid yellow;
  input.user-cal {
    border-radius: 0;
  }
  button.user-cal {
    border-radius: 0;
  }
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}


.user-cal {
  float: left !important;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}


button#theaters-dropdown-button {
  margin: 0;
  padding: 6px 10px;
  background-color: $primary-color;
  border: 1px solid $secondary-color;

  span {
    color: $secondary-color;
  }
}



span.caret {
  margin-left:10px;
}

a.theater-tab {
  color: $secondary-color;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  margin-bottom: 0 !important
  ;
}

li.theater-tab-box:hover, li.theater-tab-box.active {
  a.theater-tab{
    /*background-color: $secondary-color;*/
    color: yellow;
    background-image: $dark-tire
  }
}

button.btn-warning, button.btn-warning:focus {
  background-color: $primary-color;
  color: $secondary-color;
  border: 1px solid black;
}

button.btn-warning:hover, button#theaters-dropdown-button:hover {
  background-image: image-url('backgrounds/dark_embroidery.png');
  color: $tertiary-color;
  border: 1px solid black;
}

button.btn-warning:active {
  background-color: $tertiary-color !important;
}

.btn-success {
  background-image: image-url('backgrounds/dark_embroidery.png');
  /*background-color: $primary-color;*/
  color: white;
  border: 1px solid black;
}
.btn-success:hover, .btn-success:focus {
  background-color: $secondary-color;
  color: $tertiary-color;
  border: 1px solid black;
}

.btn-success:active {
  background-color: $tertiary-color !important;
}



@media screen and (max-width: 768px) {
  .theater-tab-box-container {
    position: absolute;
    z-index: 2;
  }

}