<div class="container">

    <div class="row">

        <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="thumbnail">
                <div class="caption">
                    <h4>Film Title</h4>
                    <p>New Parkway</p>
                    <p>
                        <a href="" class="label label-danger">tickets</a>
                    </p>
                </div>
                <img src="http://lorempixel.com/400/300/sports/1/" alt="...">
            </div>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="thumbnail">
                <div class="caption">
                    <h4>Film Title</h4>
                    <p>Roxie Theater</p>
                    <p>
                        <a href="" class="label label-danger">tickets</a>
                    </p>
                </div>
                <img src="http://lorempixel.com/400/300/sports/2/" alt="...">
            </div>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="thumbnail">
                <div class="caption">
                    <h4>Film Title</h4>
                    <p>Yerba Buena Center for the Arts</p>
                    <p>
                        <a href="" class="label label-danger">tickets</a>
                    </p>
                </div>
                <img src="http://lorempixel.com/400/300/sports/3/" alt="...">
            </div>
        </div>

    </div>
</div>