<div class="col-md-12 buzz-box-container clearfix container">
  <div class="carousel slide multi-item-carousel"id="myCarousel" data-interval="false">

    <div class="carousel-inner">

      <div class="item active">
        <div class="row">
          <% 6.times do %>
            <%= render partial: 'welcome/poster', locals: {films: @films} %>
          <% end %>
       </div>
     </div>


     <% (@films.length / 6).times do %>
     <div class="item">
      <div class="row">
        <% 6.times do %>
        <%= render partial: 'welcome/poster', locals: {films: @films} %>
      <% end %>
    </div>
  </div>
  <% end %>

</div>
<a class="left carousel-control " href="#myCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
<a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
</div>
</div>