<div class="container">

    <div class="row">
        <% 6.times do %>
          <% film = @films.shift() %>
        <div class="thumbnail-container col-xs-6 col-sm-3 col-md-2">
            <div class="thumbnail">
                <div class="caption">
                    <h4><%= film.title %></h4>
                    <p>theater</p>
                    <p>
                        <a href="" class="label label-danger">dates</a>
                    </p>
                </div>
                <% if (film.poster_url == "NA") %>
                  <%= image_tag "posters/default", class: "poster" %>
                <% else %>
                  <%= image_tag "posters/poster-#{film.id}", class: "poster" %>
                <% end %>
            </div>
        </div>

        <% end %>
    </div>
</div>

