<nav class="navbar" id="nav-2">


  <button type="button" id="theaters-dropdown-button" class="navbar-toggle col-xs-6" data-toggle="collapse" data-target="#theater-nav">
    Theaters<span class="caret"></span>
  </button>

  <% if current_user %>
  <%= button_to "#{current_user.username}'s watchlist", current_user, class: "user-cal btn btn-success center col-xs-6 col-sm-12", id: "user-cal",method: 'get', :remote => true %>
  <% else %>
  <button id="user-cal" data-toggle="modal" data-target="#login-modal" class="user-cal btn btn-warning col-xs-6 col-sm-12">
    Your Watchlist
  </button>
  <% end %>



  <div class="collapse navbar-collapse" id="theater-nav">
    <ul class="nav nav-pills nav-justified">
      <input type="hidden" id="selected_menu_item" value="=$selectedMenuId; ?>" />
      <li class="theater-tab-box active">
        <%= link_to 'all screenings', root_path, class:"theater-tab", :remote => true %>
      </li>
      <% @theaters.each do |theater| %>
      <li class="theater-tab-box">
        <%= link_to theater.name, fetch_screenings_path(:theater_id => theater.id), class: "theater-tab", :remote => true %>
      </li>
      <% end %>
    </ul>
  </div>


</nav>