  <div class="container">
    <div class="row page-header">
      <h1>Hottest Screenings</h1>
    </div>
  </div>
  <!-- buzz-box -->
  <div class="container">
    <div class="row">
      <%= render partial: 'welcome/buzz_box', locals: {films: @films}%>
    </div>
  </div>

  <!-- theater-tab buttons -->
  <div class="container">
    <div class="row">
      <%= render partial: "/theaters_nav", locals: {theaters: @theaters}%>
    </div>
  </div>

  <!-- Calendar -->


  <div class="container" id="calendar-box">
    <div class="row">
      <%= render partial: "/calendar", locals: {screenings: @screenings, date_filler: @date_filler} %>
    </div>
  </div>
