<div class="row">

  <h1>Headline 1</h1>


  <div class="buzz-container">
    <%@films.each do |film_obj|%>
    <div class="poster-box pull-left col-sm-3 col-md-2">
      <img class="poster img-responsive" src="<%=film_obj.poster_url%>">

    </div>

    <%end%>

  <div class="clearfix">
  </div>
  </div>

</div>