
@font-face {
  font-family: 'slick';
  src:font-url('slick.eot');
  src:font-url('slick.eot?#iefix') format('embedded-opentype'),
  font-url('slick.ttf') format('truetype'),
  font-url('slick.woff') format('woff'),
  font-url('slick.svg#slick') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sketch';
  src:font-url('sketch.eot');
  src:font-url('sketch.eot?#iefix') format('embedded-opentype'),
  font-url('sketch.ttf') format('truetype'),
  font-url('sketch.woff') format('woff'),
  font-url('sketch.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/assets/glyphicons-halflings-regular.eot');
  src: url('/assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  url('/assets/glyphicons-halflings-regular.woff') format('woff'),
  url('/assets/glyphicons-halflings-regular.ttf') format('truetype'),
  url('/assets/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

h1, h2, h3, h4, h5, h6, th, td, span.theater-name, span.theater-tab, li, a, div.panel-heading {
  font-family: 'Poiret One', courier !important;
}
p, div {
  font-family: 'Poirot One' !important;
}



.theater-nav-container {
  background-color: gray;
  .navbar-toggle {
    margin: 0;
    padding: 6px 10px;
    span {
      color: white;
    }
  }
}

.theater-tab-box {
  border-radius: 4px;
  background: gray;
  margin: 0;
  padding: 0;
  border: 0;
  z-index: 9999;
  position: absolute;
}

theater-tab-box.collapsed {
  width: 100%;
}




.calendar-container {
  clear:both;
}
.buzz-box-container {
  padding-top: 10px;
  .carousel-control.right {
    right: -3px;
  }
  .carousel-control.left {
    left: -20px;
  }
}



.navbar-collapse {
  clear: both;
}


.nav-tabs-dropdown {
  display: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.nav-tabs-dropdown:before {
  content: "▼";
  position: absolute;
  right: 20px;
}

.theaters-dropdown-nav {
  padding-left: 15px;
}

@media screen and (min-width: 769px) {
  #nav-tabs-wrapper {
    display: block!important;
  }
}

@media screen and (max-width: 768px) {
  .nav-tabs-dropdown {
    display: block;
  }
  #nav-tabs-wrapper {
    position: absolute;
    display: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    text-align: center;
    z-index: 1;
    float: left !important;
    background-color: white;


  }
  .nav-tabs-horizontal {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  }
  .nav-tabs-horizontal  > li {
    float: none;
  }
  .nav-tabs-horizontal  > li + li {
    margin-left: 2px;
  }
  .nav-tabs-horizontal > li,
  .nav-tabs-horizontal > li > a {
    background: transparent;
    width: 100%;
  }
  .nav-tabs-horizontal  > li > a {
    border-radius: 4px;
  }
  .nav-tabs-horizontal  > li.active > a,
  .nav-tabs-horizontal  > li.active > a:hover,
  .nav-tabs-horizontal  > li.active > a:focus {
    color: #ffffff;
    background-color: #428bca;
  }
}




nav.navbar.navbar-default {
  background-color: black;
  margin-bottom: 0px;
  border: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  .navbar-brand {
    color: white;
  }
}

.buzz-box {
  position: relative;
}

img.poster {
  /*min-height: 100px;*/
  max-height: 200px;
}

.body-container {
  background-color: white;
}

.no-lr-padding {

  padding-right: 0 !important;
}


.tooltipContent {
  display: none;
}

div.add-film:before {
  content: "add film to watchlist";
}
div.remove-film:before {
  content: "remove from watchlist";
}

.alert {
  display: none;
  position: fixed;
  top: 0;
  left: 50%;
  margin-top: 50px;
  z-index: 9999;
  transform: translate(-50%);
}

.gradient {
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 10px,
    #ccc 10px,
    #ccc 20px
    ),
  linear-gradient(
    to bottom,
    #aaa,
    #fff
    );
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*set html font-size at 62.5 to make sizing with rems similar to pixels*/
html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
}

a:hover {
  text-decoration: none !important;
}

span.film-title {
  font-weight: 800;
}

td.date-box div.film-listing-container:first-of-type{
  margin-top: 2.2rem;
}

span.date {
  float: right;
}

th, td {
  width: 14.29%;
}

div.page-header h1 {
  font-size: 3rem;
  color: black;
}

/*Calendar styling ('no-more-tables' based responsive styling)*/
@media only screen and (max-width: 768px) {
  /* Force table to not be like tables anymore */
  #no-more-tables table,
  #no-more-tables thead,
  #no-more-tables tbody,
  #no-more-tables th,
  #no-more-tables td,
  #no-more-tables tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  #no-more-tables thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  #no-more-tables { border: 1px solid #ccc; }

  #no-more-tables td {
    /* Behave like a "row" */
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    position: relative;
    white-space: normal;
    text-align:left;
  }

  #no-more-tables td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 100%;
    white-space: nowrap;
    text-align:left;
    font-weight: bold;
    font-size: 1.3em;
  }

  span.placeholder { font-style: italic; }

  span.placeholder:before {
    content: "no screenings";
  }

  /* Label the data */
  #no-more-tables td {
  }
  #no-more-tables td:before {
    content: attr(data-title);
  }

  #no-more-tables td.gradient:before {
    color: gray;
  }

  td.date-box {
    padding-top: 10px !important;
  }
}






