// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*set html font-size at 62.5 to make sizing with rems similar to pixels*/
html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}



img.poster {
  /*min-height: 100px;*/
  max-height: 250px;
}


