<div class="container theater-nav-container">
  <ul class="nav nav-pills nav-justified">
    <!-- <li class="active">
      <a class="theater-pill" href="#">all listings</a>
    </li> -->
    <li class="theater-tab-box active">
      <%= link_to 'all screenings', root_path, class:"theater-tab", :remote => true %>
    </li>
    <% @theaters.each do |theater| %>
    <li class="theater-tab-box">
      <%= link_to theater.name, fetch_screenings_path(:theater_id => theater.id), class: "theater-tab", :remote => true %>
    </li>
    <% end %>
  </ul>
</div>