<row class="clearfix">
<div class="row theaters-dropdown-nav pull-left col-xs-6 col-sm-12 no-lr-padding">
  <div class="">
    <a href="#" class="nav-tabs-dropdown btn btn-block btn-primary col-xs-12">Theaters</a>
    <ul id="nav-tabs-wrapper" class="nav nav-pills nav-stacked">
      <li class="active">
        <%= link_to 'all shows', root_path, class:"", 'data-toggle':"tab", :remote => true %>
      </li>
      <% @theaters.each do |theater| %>
      <li>
        <%= link_to theater.name, fetch_screenings_path(:theater_id => theater.id), class:"", 'data-toggle':"tab", :remote => true %>
      </li>
      <% end %>
    </ul>
  </div>
</div>


<div class="no-lr-padding pull-right col-xs-7 col-sm-12">
  <% if current_user %>
  <div class="user-cal btn btn-success center col-xs-12">
    <%= link_to "#{current_user.username}'s Watchlist", current_user, class: "theater-tab", :remote => true %>
  </div>
  <% else %>
  <div class="user-cal btn btn-warning col-xs-12">
    <%= link_to 'Log-in to save movies to your own calendar', new_session_path %>
  </div>
  <% end %>
</div>
</row>