<nav class="navbar navbar-default" id="main-nav">
  <div class="container-fluid">

      <a class="navbar-brand" href="/">SF Film Calendar</a>


    <ul class="nav navbar-nav navbar-right">

      <% if current_user %>

      <li class="logged-in pull-right"><%= link_to 'Logout', session_path(session), method: :delete %></li>

      <% else %>
      <li class="pull-right"><a href="#" data-toggle="modal" data-target="#register-modal">Register</a></li>
      <li class="pull-right"><a href="#" data-toggle="modal" data-target="#login-modal">Login</a></li>

      <% end %>

    </ul>
  </div>
</nav>


